body {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
}
h1{
    margin-bottom: 30px;
}

#aclaracion{
    margin-left: 15px; 
}
#calculador{
    display: none;
    
}
#edades-grupo-familiar{
    width: auto;
    border: 1px solid #333;
    padding: 15px;
    align-items: center;
    justify-content: center;  
}